.App {
  text-align: center;
}

.App-header {
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: helvetica;
  color: black;
}

.App-link {
  color: #61dafb;
}

.cell {
  width: 25px;
  height: 25px;
  background: white;
  border-style: solid;
  border-color: dodgerblue;
  border-width: thin;
  box-sizing: border-box;
  float:left;
}

/*#r9c16 {*/
/*  background: darkslategray;*/
/*}*/

#r9c16 {
  background-image: url("../public/ninjaRunRight.png");
  width: 25px;
  height: 25px;
}

#r9c41 {
  background: red;
}
